language: android
jdk: oraclejdk8
#dist: precise
#env:
#  matrix:
#    - ANDROID_TARGET=android-23 ANDROID_ABI=x86
android:
  components:
    - build-tools-23.0.1
    - extra-android-support
    - android-23
    - extra-google-m2repository
    - extra-android-m2repository

before_cache:
  - rm -f  $HOME/.gradle/caches/modules-2/modules-2.lock
  - rm -fr $HOME/.gradle/caches/*/plugin-resolution/

cache:
  directories:
    - $HOME/.gradle/caches/
#    - $HOME/.gradle/wrapper/

before_script:
    - keytool -genkey -noprompt   -alias androiddebugkey  -dname "CN=mirakel.azapps.de, OU=ID, O=az, L=Mirakel, S=A, C=ANT"   -keystore new_ui/debug.keystore  -storepass android  -keypass android
    - cp new_ui/local.properties.dist new_ui/local.properties
    - cp new_ui/debug.keystore dashclock/debug.keystore
script:
#  - gradle build -x test
  - gradle --stacktrace --continue clean testFdroidDebugUnitTest
#    - bash build/test.sh  
